@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
</div>

<br />


<div >
    <form action="/Home/GetData" method="get" dir="rtl">
    <div style="direction:rtl; text-align:right; font-family:'iran sans'">
        <label>نام</label>
        <input class="form-group" type="text" name="Name" placeholder="نام"  />

        <label>نام خانوادگی</label>
        <input class="form-group" type="text" name="Family" placeholder="نام خانوادگی"  />

        <label>شماره تلفن</label>
        <input class="form-group" type="text" name="Phone" placeholder="شماره تلفن"  />

        <label>آدرس</label>
        <input type="text" name="Address" placeholder="آدرس"  />

        <input type="submit" value="ذخیره فرد" class="btn btn-primary" />
    </div>
    </form>

</div>

<hr />  

<table class="table table-striped" style="direction:rtl; text-align:right; font-family:'iran sans'">
    <tr>
      <th scope="col">#</th>
      <th scope="col">نام</th>
      <th scope="col">نام خانوادگی</th>
      <th scope="col">شماره تلفن</th>
      <th scope="col">آدرس</th>
    </tr>
      <tr>
            @{
                foreach(var item in @ViewBag.People)
                {
                    <td>@ViewBag.Name</td>
                    <td>@ViewBag.Family</td>
                    <td>@ViewBag.PhoneNumber</td>
                    <td>@ViewBag.Address</td>
                }
            }
      </tr>
</table>
